// colors
$blue_color: #0099FF;
$blue_color_title: #4B7DBC;
$gray_color: #555;
$dark_color: #333;
$yellow_color: #ffcf63;
$yellow_color_hover: #ffc163;
$light_gray_color: #eee;
$white_color: #fff;

// fonts
$robotoCondensed: 'Roboto Condensed', sans-serif;
$openSans: 'Open Sans', sans-serif;