@import "config";

.b-header
{
  &__logo
  {
    max-width: 74px;
    float: left;
    width: 40%;
    margin-right: 20px;
  }

  &__name
  {
    float: left;
    width: 60%;
    padding-left: 16px;
    border-left: 2px solid $blue_color;
    font: 15px $robotoCondensed;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $dark_color;
  }

  &__menu
  {
    margin-top: 15px;
  }

  &__item
  {
    display: inline-block;
    list-style-type: none;
    margin-right: 26px;
    cursor: pointer;

    a
    {
      font: 16px $robotoCondensed;
      color: $dark_color;
    }
  }
}

.clearfix
{
  display: block;
  clear: both;
  content: "";
}

@media screen and (min-width: 768px)
{
  .b-header
  {
    &__menu
    {
      margin-top: 15px;
    }
  }
}

@media screen and (min-width: 1200px)
{
  .b-header
  {
    &__name
    {
      font: 16px $robotoCondensed;
    }

    &__item
    {
      margin-right: 30px;
    }
  }
}