@import "config";

.b-main
{
  &__h1
  {
    color: $blue_color_title;
    font: 36px $robotoCondensed;
    margin-bottom: 30px;
  }

  &__container
  {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  &__text
  {
    color: $dark_color;
    font: 14px/1.5 $openSans;
    max-width: 1000px;
    text-align: justify;
  }
}

.b-history
{
  &__image
  {
    margin-bottom: 20px;
    border-radius: 6px;
  }
}

.b-executives
{
  &__block
  {
    margin-bottom: 30px;
  }

  &__position
  {
    color: $dark_color;
    font: 600 18px/1.5 $openSans;
    margin-bottom: 10px;
  }

  &__name
  {
    color: $dark_color;
    font: 24px/1 $robotoCondensed;
    margin-bottom: 20px;
  }

  &__description
  {
    color: $dark_color;
    font: 18px/1.5 $openSans;
  }

  &__image
  {
    margin-bottom: 10px;
  }
}

.b-department
{
  &-margin
  {
    margin-top: 20px;
  }

  &__container
  {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  &__list
  {
    list-style: none;
    margin-left: 19px;
  }

  &__item
  {
    margin-bottom: 10px;

    a
    {
      color: $dark_color;
      font: 18px $openSans;

      &:hover,
      &:focus,
      &:active
      {
        color: $dark_color;
      }
    }

    &::before
    {
      content: "";
      background-color: $blue_color;
      font-weight: bold;
      display: inline-block;
      width: 7px;
      height: 7px;
      margin-left: -1em;
      border-radius: 50%;
      margin-right: 15px;
    }
  }
}

@media (min-width: 768px)
{
  .b-executives
  {
    &__image
    {
      margin-bottom: 10px;
    }
  }
}