@import "config";

.b-main
{
  &__h1
  {
    color: $blue_color_title;
    font: 36px $robotoCondensed;
    margin-bottom: 30px;
  }

  &__h2
  {
    margin-top: 35px;
    margin-bottom: 30px;
    color: $blue_color_title;
    font: 27px $robotoCondensed;
  }

  &__container
  {
    margin-top: 70px;
    margin-bottom: 100px;
  }

  &__text
  {
    color: $dark_color;
    font: 15px/1.5 $openSans;
    max-width: 1000px;
  }

  &__strong-text
  {
    color: $dark_color;
    font: 16px/1.5 $openSans;
    margin-top: 28px;
  }

  &__list
  {
    list-style: none;
    margin-left: 19px;

    &__ol
    {
      &__item
      {
        margin-left: 20px;
        margin-bottom: 15px;
      }
    }

    &-item
    {
      color: $dark_color;
      font: 15px/1.5 $openSans;
      max-width: 880px;
      margin-bottom: 17px;
      padding-left: 15px;
      position: relative;

      &:before
      {
        content: "";
        background-color: #0099FF;
        font-weight: bold;
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 10px;
      }
    }
  }
}

.b-history
{
  &__image
  {
    margin-bottom: 20px;
    border-radius: 6px;
  }
}

.b-executives
{
  &__block
  {
    margin-bottom: 30px;
  }

  &__position
  {
    color: $dark_color;
    font: 600 18px/1.5 $openSans;
    margin-bottom: 10px;
  }

  &__name
  {
    color: $dark_color;
    font: 24px/1 $robotoCondensed;
    margin-bottom: 6px;
  }

  &__description
  {
    color: $dark_color;
    font: 18px/1.5 $openSans;
  }

  &__image
  {
    margin-bottom: 10px;
  }
}

.b-department
{
  &-wrap
  {
    max-width: 250px;
    margin: 0 auto;
    margin-top: 25px;
  }

  &-margin
  {
    margin-top: 20px;
  }

  &__container
  {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  &__list
  {
    list-style: none;
  }

  &__item
  {
    margin-bottom: 10px;
    position: relative;
    padding-left: 18px;

    a
    {
      color: $dark_color;
      font: 18px $openSans;

      &:hover,
      &:focus,
      &:active
      {
        color: $dark_color;
      }
    }

    &::before
    {
      position: absolute;
      content: "";
      background-color: $blue_color;
      font-weight: bold;
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      left: 0;
      top: 10px;
    }

    &_special
    {
      a
      {
        color: $blue_color_title;
        font: 20px $openSans;
      }
    }
  }
}

@media (min-width: 575px)
{
  .b-department
  {
    &-wrap
    {
      max-width: none;
      margin: 0;
    }
  }
}

@media (min-width: 768px)
{
  .b-executives
  {
    &__image
    {
      margin-bottom: 10px;
    }
  }
}