.b-slider {
  margin-top: 20px; }
  .b-slider .slick-dots {
    bottom: -35px; }
    .b-slider .slick-dots .slick-active button {
      background-color: #0099FF;
      width: 15px;
      height: 15px; }
    .b-slider .slick-dots button {
      background-color: #555;
      border-radius: 50%;
      width: 12px;
      height: 12px; }
      .b-slider .slick-dots button:before {
        content: none; }
      .b-slider .slick-dots button:hover {
        background-color: #0099FF; }

.b-title__h2 {
  color: #333;
  font: 36px/23px "Roboto Condensed", sans-serif;
  text-align: center; }
.b-title__h3 {
  font: 32px "Roboto Condensed", sans-serif;
  color: #333; }

.b-button {
  display: inline-block;
  padding: 14px 25px;
  color: #333;
  font: 20px "Roboto Condensed", sans-serif;
  transition: all 0.3s; }
  .b-button__wrapper {
    text-align: center;
    margin-top: 30px; }
  .b-button-yellow {
    display: inline-block;
    background-color: #ffcf63;
    box-shadow: 0 2.5784px 2.5784px rgba(0, 0, 0, 0.25);
    border-radius: 6px; }
    .b-button-yellow:active, .b-button-yellow:focus, .b-button-yellow:hover {
      color: #333;
      text-decoration: none; }
    .b-button-yellow:hover {
      background-color: #ffc163; }

.b-departments {
  margin-top: 100px; }
  .b-departments__wrapper {
    margin-top: 25px; }
  .b-departments-content {
    position: relative;
    max-width: 350px;
    margin: 0 auto; }
  .b-departments__link {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s;
    background: rgba(1, 1, 1, 0.44); }
    .b-departments__link:hover {
      background: rgba(1, 1, 1, 0.54); }
  .b-departments__title {
    position: absolute;
    color: white;
    font: 30px/23px "Roboto Condensed", sans-serif;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center; }

.b-news {
  margin-top: 80px; }
  .b-news-title-margin {
    margin-bottom: 40px; }
  .b-news:first-child {
    margin-top: 30px; }
  .b-news__item {
    padding: 20px 30px; }
    .b-news__item-blue {
      background-color: rgba(0, 153, 255, 0.2); }
  .b-news__title {
    font: 600 21px "Roboto Condensed", sans-serif;
    color: #333; }
  .b-news__text {
    font: 14px/20px "Open Sans", sans-serif;
    color: #333;
    max-width: 900px; }

.b-about {
  box-shadow: 0 2.6px 19px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 43px 20px 43px 28px; }
  .b-about-margin {
    margin-top: 70px; }
  .b-about__pretitle {
    color: #4B7DBC;
    font: 23px "Roboto Condensed", sans-serif;
    margin-bottom: 0; }
  .b-about__title {
    color: #333;
    font: 31px "Roboto Condensed", sans-serif; }
  .b-about__text {
    color: #333;
    font: 14px/24px "Open Sans", sans-serif;
    max-width: 450px; }
  .b-about__img {
    border-radius: 6px; }
    .b-about__img-wrapper {
      max-width: 413px; }

.b-contacts {
  margin-top: 90px; }
  .b-contacts__text {
    padding: 6px 0 6px 16px;
    border-left: 1px solid #ffcf63;
    margin-top: 35px; }
    .b-contacts__text p {
      font: 19px "Roboto Condensed", sans-serif;
      color: #333;
      margin-bottom: 10px; }
    .b-contacts__text span {
      font: 600 19px "Roboto Condensed", sans-serif;
      color: #555; }

@media screen and (min-width: 768px) {
  .b-about {
    padding: 43px 0 43px 28px; } }
@media screen and (min-width: 992px) {
  .b-about {
    padding: 60px 2px 60px 76px; }
    .b-about__text {
      font: 16px/26px "Open Sans", sans-serif; } }

/*# sourceMappingURL=home.css.map */
