@import "config";

.b-news
{
  &-container
  {
    margin-top: 60px;
    margin-bottom: 80px;
  }

  &__item
  {
    &-blue
    {
      background-color: rgba(0, 153, 255, 0.2);
    }
  }

  &__title
  {
    &-margin
    {
      margin-bottom: 40px;
    }
  }

  &__date
  {
    font: 14px/20px $openSans;
    color: $dark_color;
    margin-bottom: 10px;
  }
}